$padding-side: 13%;

#site{
  background-color: #ef6d9f;
  color: #fff;
  font-family: 'Basis Grotesque', sans-serif;

  &.fix{
    overflow: hidden;
  }

  h1,
  h2,
  p{
    text-align: center;
    margin: 0;
  }

  h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h2,
  p{
    font-size: 1.3rem;
  }

  .top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    h1{
      font-size: 3.1rem;
      letter-spacing: 0.05em;
    }
  }

  .content{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    padding: 0 $padding-side;
    margin-top: 8%;

    img{
      width: 100%;
      margin-bottom: 9%;
    }
  }

  .about{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 $padding-side;
    overflow: auto;
    background-color: #308bcb;
    z-index: 1000;

    img{
      width: 55%;
      display: block;
      margin: 5% auto;
    }

    p{
      width: 100%;
      padding-bottom: 5rem;
    }
  }

  .bottom{
    form{
      position: fixed;
      bottom: 1.5rem;
      left: 2rem;
      z-index: 100;
    }

    h2{
      position: fixed;
      width: 100%;
      bottom: 1.5rem;
      left: 0;
    }

    img{
      position: fixed;
      bottom: 1.2rem;
      right: 2rem;
      z-index: 2000;
      width: 4.2%;
    }
  }

  #toggle_about{
    &:hover{
      cursor: pointer;
    }
  }


  /*mailchimp styling*/

  ::-webkit-input-placeholder { 
    color: #fff;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #fff;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #fff;
    opacity: 1;
  }
  :-moz-placeholder {
    color: #fff;
    opacity: 1;
  }

  form{
    /*height: 1rem;*/
  }

  #mc_embed_signup_scroll{
    /*height: 1.5rem;*/
  }
  #mc-embedded-subscribe-form{
    padding-top: 0;
    /*height: 1.5rem;*/
    /*margin-bottom: 0.25rem;*/
  }

  input[type="email"]{
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: inherit;
    padding: 0.1rem 0 0.1rem 0.7rem;
    /*margin-bottom: 0.2rem;*/
    /*line-height: 1.5rem;*/
    /*height: 1.5rem;*/
    /*width: 7rem;*/
    color: #fff;
    opacity: 1;
    text-align: left;
    border: 1px solid white;
    vertical-align: middle;
  }

  input:focus { 
    border: 1px solid white;
    outline: none;
  }

  input, select, textarea{
    color: #fff;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  #mce-EMAIL{
    background-color: transparent;
    box-shadow: none;
  }

  #mc-embedded-subscribe{
    position: absolute; 
    height: 0px; 
    width: 0px; 
    border: none; 
    padding: 0px;
  }
}